<% include partials/header %>

<div class ="container">

  <header class = "jumbotron">
    <h1>Hi, welcome to the YelpCamp!</h1>
    <p> View our hand-picked campgrounds from all over the world </p>
  </header>

  <a href="/campgrounds">View all campgrounds</a>

</div>

<% include partials/footer %>
